Large_files/__MACOSX/Sources/SendingPythonFiles/server_files
Large_files/__MACOSX/Sources/SendingPythonFiles/client_files
Large_files/Sources/SendingPythonFiles/server_files
Large_files/Sources/SendingPythonFiles/client_files
Image/__MACOSX/Sources/SendingPythonImages/client_files
Image/__MACOSX/Sources/SendingPythonImages/server_files
Image/Sources/SendingPythonImages/client_files
Image/Sources/SendingPythonImages/server_files